/* Header */
#header{
    /* height: var(--header-height); */
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 5;
}
.scroll-header{
    background:hsl(206, 4%, 6%);
}
.scrollup:hover{
    background-color: var(--black-color);
    opacity: 1;
}

.scrollup{
    position: fixed;
    right: 1.6rem;
    bottom: -20%;
    display: flex;
    background-color: hsl(206, 4%, 10%);
    border-radius: .4rem;
    padding: .72rem;
    opacity: 9;
    z-index: 10;
    transition: all .3s;
}
.show-scroll{
    bottom: 5rem;
}
.scrollup__icon{
    color: var(--white-color);
    font-size: 2.16rem;
}
/* Navigation */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 7.2rem;
}
.nav__menu.show-menu{

}
.nav__close{
    position: absolute;
    color: var(--white-color);
    font-size: 2.4rem;
    /* top: -.6rem; */
    right: 1.6rem;
    cursor: pointer;
    display: none;
}
.nav__toggle{
    display: none;
    color: var(--white-color);
    cursor: pointer;
    font-size: 2rem;
}
.show-menu{
    top: 0;
}
.nav__logo{
    display: flex;
    align-items: center;
}
.nav__img{
    width: 32px;
    height: auto;
}
.nav__list{
    display: flex;
    /* position: relative; */
}
.nav__link{
    text-decoration: none;
    background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    font-size: 1.6rem;
    transition: all .4s;
}
.nav__item:first-child ~ li {
    padding-left: 5.7rem;
}
.nav__link:hover{
    background: var(--white-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.active-link{
    background: var(--white-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
/* Section */
/* Home */
.home__container{
    position: relative;
}
.home__img{
position: absolute;
left: 6.4rem;
top: -24rem;
width: 300px;
}
.home__data{
    padding-top: 12.8rem;
}
.home__header{
    position: relative;
}
.home__title{
    position: absolute;
    top: -8rem;
    left: 6rem;
    line-height: 9.6rem;
    font-size: 12rem;
    background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.home__subtitle{
    font-size: 6.4rem;
    margin-bottom: 4rem;
    color: rgb(242,242,243);
}
.home__title--description{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: rgb(242,242,243);

}
.home__description{
    margin-bottom: 4rem;
    line-height: 3.2rem;
    padding-right: 8rem;
    color: rgb(189,192,194);
    font-size: 1.6rem;
}
.home__price{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1.2rem;
}
/* Sponsor */
.sponsor__img{
    width: 100px;
}
/* Specs */
.specs__container{
    max-width: 600px;
    /* width: 100%; */
    /* padding: 0; */
    /* display: block; */
    margin: 0 auto;
}
.specs__icon{
    font-size: 1.92rem;
    color: var(--white-color);
}
.specs__data:nth-child(2),
.specs__data:nth-child(2) + .specs__data{
    margin-left: 26%;
}
.specs__data:first-child,
.specs__data:last-child{
    margin-left: calc(26% + 2.4rem);
}
.specs__data:last-child{
    padding-right: 5rem;
}
.specs__data:first-child,
.specs__data:nth-child(2),
.specs__data:nth-child(2) + .specs__data
{
    margin-bottom: 2.4rem;
}
.specs__icon,
.specs__icon + .specs__title{
margin-bottom: .4rem;
}


/* .specs__data{
    transform:translateX(26%);
}
.specs__data:first-child,
.specs__data:last-child{
    margin-left: 2.4rem;
}
.specs__data:last-child .specs__subtitle{
    margin-right: 1rem;
}

.specs__data:first-child,
.specs__data:nth-child(2),
.specs__data:nth-child(2) + .specs__data
{
    margin-bottom: 2.4rem;
}
.specs__icon,
.specs__icon + .specs__title{
margin-bottom: .4rem;
} */

/* transform:translateX(34%) */
.specs__title{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(242,242,243);
}
.specs__subtitle{
    font-size: 1.3008rem;
    color: rgb(189,192,194);
}

/* Case */
.case__container{
    max-width: 630px;
    /* width: 100%; */
    /* padding:0; */
    margin: 0 auto;
}
.case__img{
    width: 300px;
}
.case__data{
    margin: auto 0;
    padding-left:5rem;
}
.case__description{
    margin-bottom: 3.2rem;
    line-height: 3.2rem;
    color: rgb(189,192,194);
    font-size: 1.6rem;
    padding-right: 2rem;
}
/* Discount */
.discount__container{
padding: 4.8rem 0;
background-color: hsl(206, 4%, 10%);
border-radius: .75rem;
}
.discount__container-bonus{
    max-width: 680px;
    /* width: 100%; */
    /* padding: 0; */
    margin: 0 auto;

}
.discount__animate{
    width: calc(250px + 8rem);
}
.discount__animate + div{
    flex-grow: 1;
}
.discount__img{
    width: 350px;
}
.discount__title{
    padding-right: 3rem;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    color: rgb(242,242,243);
}
.discount__description{
    margin-bottom: 3.2rem;
    color: rgb(189,192,194);
    font-size: 1.6rem;
}
/* Products */
.products__container{
    padding-top: 8rem;
}
.products__container-bonus{
    max-width: 582px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.products__line{
    line-height: 6.4rem;
}
.products__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -2.4rem;
    margin-right: -2.4rem;
}
.products__col{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-bottom: 9.6rem;
}
.products__card{
    position: relative;
    height: 152px;
    background-color: hsl(206, 4%, 10%);
    padding: 1.36rem;
    border-radius: .5rem;
    display: flex;
}
.products__img{
    position: absolute;
    width: 95px;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: -5rem;
}
.products__content{
    align-self: flex-end;
}
.products__button{
position: absolute;
border-radius: .5rem;
padding: .8rem;
right: 0.5rem;
bottom: 0.5rem;
}
.products__title,
.products__price{
    font-size: 1.4rem;
}
.products__title{
    color: rgb(242,242,243);
}
.products__price{
    color: rgb(189,192,194);
}
.products__icon{
    font-size: 1.92rem;
}
/* Footer */
.footer__container{
    grid-template-columns: .4fr .7fr .7fr 1fr;
    row-gap: 3.2rem;
    padding-top: 4.8rem;
}
.footer__logo{
    width: 3.2rem;
}
.footer__title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: rgb(242,242,243);
}
.footer__list{
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}
.footer__link{
    color: hsl(206, 4%, 75%);
    font-size: 1.6rem;
}
.footer__form{
    display: flex;
    column-gap: .8rem;
    background-color: hsl(206, 4%, 10%);
    padding: .8rem 1.2rem;
    border-radius: .8rem;
    margin-bottom: 3.2rem;
}
.footer__input{
    background-color: hsl(206,4%,10%);
    width: 90%;
    color: var(--white-color);
}
.footer__social{
    display: flex;
    column-gap: 1.8rem;
}
.footer__social-link{
    display: inline-flex;
    color: var(--white-color);
    background-color: hsl(206, 4%, 10%);
    padding: .8rem;
    border-radius: .4rem;
    font-size: 1.6rem;
}

.footer-copy{
    margin-top: 8rem;
    text-align: center;
}
.footer-copy__link{
    font-size: 1.2rem;
    color: rgb(162,166,169);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .96rem;
    border-radius: .8rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(206, 4%, 16%);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(206, 4%, 20%);
  }
@media screen and (max-width: 575px){
    .container{
        margin-left: 2.4rem;
        margin-right: 2.4rem;
    }
    .nav__list{
        /* display: none; */
        position: fixed;
        left: 0;
        right: 0;
        /* width: 100%; */
        flex-direction:column;
        justify-content: center;
        align-items:center;
        top: -100%;
        /* display:none; */
        background-color: hsl(206, 4%, 6%);
        padding: 6.4rem 0 4.8rem 0;
    }
    .nav.show-menu .nav__list{
        top: 0;
        transition: all .3s;
    }
    .nav.show-menu .nav__close{
        top: -.6rem;
        transition: all .3s;
        display: inline-block;
    }
    .nav__toggle{
        display: block;
    }
    .nav{
        height: 4.8rem;
    }
    .nav__logo{
        width: 24px;
    }
    .nav__toggle{
        font-size: 1.92rem;
        color: var(--white-color);
        cursor:pointer;
    }
    .nav__item{
        padding-left: 0 !important;
        line-height: 3.8rem;
    }
    .footer__container{
        grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
        row-gap:3.2rem;
      }
      .home__img{
        /* width: 200px;
        top: -30.2rem;
        left:10rem; */
        width: 250px;
        top: -35.2rem;
        left:8rem;
      }
      .home__container-img{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .home__data{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .home__title{
        font-size: 8rem;
        font-weight: 700;
        top: -6.6rem;
        left: 1.8rem;
      }
      .home__subtitle{
        font-size: 4rem;
        font-weight: 700;
      }
      .home__title--description{
        font-size: 1.8rem;
      }
      .home__description{
        padding-right: 0;
        font-size: 1.5008rem;
      }
      .text{
        font-size: 1.5008rem;
      }
      .m-6{
        flex: 0 0 50%;
        max-width: 50%;
      }
      
      .sponsor__container{
        row-gap: 8rem;
      }
      .section__title{
        font-size: 4rem;
      }
      .specs__container{
        max-width: 340px;
      }
      .specs__container-img{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .specs__data:nth-child(2), .specs__data:nth-child(2) + .specs__data{
        margin-left: 9%;
      }
      .specs__data:first-child, .specs__data:last-child{
        margin-left: calc(9% + 2.4rem);
      }
      .specs__data:last-child{
        padding-right: 0;
      }
      .case__img{
        width: 220px;
    
      }
      .case__container-img{
        text-align: center;
      }
      .m-12{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .case__data{
        margin-top: 2rem;
      }
      .discount__animate{
        text-align:center;
        margin-bottom: 2rem;
      }
      .products__row{
        margin: 0;
      }
      .col{
        padding: 0;
      }
      .home__data{
        padding-top: 9.6rem;
      }
      .products__card{
        max-width: 142px;
      }
      .c-o-6{
        padding-left: 50%;
        transform: translateX(-20%);
      }
}
  /* Media Query */

  @media screen and (min-width: 576px) and (max-width: 766px){
    .nav__list{
        position: fixed;
        left: 0;
        right: 0;
        /* width: 100%; */
        flex-direction:column;
        justify-content: center;
        align-items:center;
        top: -100%;
        /* display:none; */
        background-color: hsl(206, 4%, 6%);
        padding: 6.4rem 0 4.8rem 0;
    }
    .nav.show-menu .nav__list{
        top: 0;
    }
    .nav.show-menu .nav__close{
        top: -.6rem;
        display: inline-block;
    }

    .nav__link{
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .nav__item{
        padding-left: 0 !important;
        line-height: 3.8rem;
    }
    .nav__toggle{
        display: block;
    }
    .container{
        margin: 0 2.4rem;
    }
    .nav__logo{
        width: 24px;
    }
    .nav{
        height: 4.8rem;
    }
    .home__img{
        width: 250px;
        top:-22.3rem;
        left: -2.3rem;
    }
    .home__title{
        font-size: 8rem;
        font-weight: 700;
        top: -7rem;
        left: 2rem;
    }
    .home__data{
        flex: 0 0 55.71% !important;
        max-width: 55.71% !important;
        padding-top: 3.8rem;
    }
    .home__container-img{
        flex: 0 0 44.29%;
        max-width: 44.29%;
    }
    .home__subtitle{
        font-size: 4rem;
        font-weight: 700;
    }
    .home__title--description{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .home__description{
        padding-right: 0;
        font-size: 1.5008rem;

    }
    .text{
        font-size: 1.5008rem;
    }
    .section__title{
        font-size: 5.6rem;
    }
    .specs__img{
        width: 250px;
    }
    .specs__container{
        max-width: 968px;
        margin: 0 2.4rem;
    }
    .specs__container-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .case__img{
        width: 250px;
    }
    .case__container{
        max-width: 968px;
        margin: 0 2.4rem;
    }
    .case__container-img{
        text-align: right;
    }
    .case__description{
        font-size: 1.5008rem;
    }
    .discount__img{
        width: 300px;
    }
    .discount__title{
        font-size: 1.8rem;
    }
    .discount__container-bonus{
        max-width: 670px;
        
    }
    .footer__container{
        grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
        row-gap:3.2rem;
      }
  }

  @media screen and (min-width: 767px) and (max-width: 1023px){
    .container{
        margin: 0 2.4rem;
    }
    /* .nav__list{
        display:none;
    } */
    /* .nav{
        line-height: 4.8rem;

    } */
    /* .nav__toggle{
        display: block;
    } */
    body{
        margin: 0;
    }
    .section{
        padding: 9.6rem 0 3.2rem 0;
    }
    .home__title{
        font-size: 8rem;
        top: -6rem;
        left: 2rem;
        font-weight: 700;
    }
    .home__subtitle{
        font-size: 4rem;
        font-weight: 700;
    }
    .home__img{
        width: 250px;   
        left: 6.4rem;
        top: -12rem;
    }
    .nav__item:first-child ~ li {
        padding-left: 5.6rem;
    }
    .nav__link{
        font-size: 1.5008rem;
    }
    .home__title--description{
        font-size: 1.8rem;
    }
    .home__description{
        font-size: 1.5008rem;
        line-height: 3.2rem;
        padding-right: 0;
    }
    .home__data{
        padding-top: 14.8rem;   
    }
    .text{
        font-size: 1.5008rem;
    }
    .section__title{
        font-size: 5.6rem;
    }
    .specs__container{
        max-width: 968px;
        margin: 0 2.4rem;
    }
    .specs__img{
        width: 300px;
    }
    .specs__data:first-child,.specs__data:last-child{
        margin-left: calc(35% + 2.4rem);
    }
    .specs__data:nth-child(2), .specs__data:nth-child(2) + .specs__data{
        margin-left: 35%;
    }
    .case__data{
        padding-left: 8rem;
    }
    .case__description{
        padding-right: 10rem;
        font-size: 1.5008rem;
    }
    .case__container{
        max-width: 968px;
        margin: 0 2.4rem;
    }
    .case__container-img{
        text-align:right;
    }
    .discount__title{
        font-size: 2rem;
        padding-right: 8rem;
    }
    .discount__description{
        font-size: 1.5008rem;
    }
    .discount__img{
        width: 300px;
    }
  }
